/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #ff6699; /* Matching the style */
    padding: 10px 0; /* Reduced padding for a thinner header */
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation Styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #333;
}

/* Language Selector */
#language-select {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #ff6699;
    font-weight: bold;
    cursor: pointer;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d090a;
    color: white;
    text-align: center;
    padding: 10px;
}
